title {
  color: gray;
 }

h3,h4 {
  color: orange;
}
body {
  font-family: Arial;
  font-size: 12px;
  color: gray;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 15px;
}

div.description {
  font-family: Times;
  font-size: 12px;
  color: gray;
  background-color: white;
}

@page {
  margin: 2cm;
}
