
h3 {
  font-family: Times;
  font-size: 14px;
  color: gray;
}

div.profile-overview {
  font-family: Times;
  font-size: 14px;
  color: orange;
}

body {
  padding: 20px 30px 0px 30px;
  font-family: Arial;
  font-size: 12px;
  color: gray;
  background-color: white;
}

div.description {
  color: orange;
  background-color: white;
}

@page {
  margin: 2cm;
}
